@media (max-width: 992px){

    body{
        display: flex;
        flex-direction: column;
        gap:0px;
    }

.navbar{
    padding: 0px;
}

.navbar-list{
    background-color: rgb(240, 240, 240); 
    display: flex;
    position: fixed;
    flex-direction: column;
    gap:100px;
    font-size: 35px;
    align-items: start;
    justify-content: center;
    width: 20%;
    height: 100vh;
    z-index: 2;
}

.navbar-item{
    display: none;
}

.navbar-li{
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 192);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 10px;
    width:60%;
    margin-left: 15px;
}

/****************************/

#perfil{
padding-left: 20%;
}
#herramientas{
    padding-left: 20%;
    height: 100vh;
}

#ensenianza{
    padding-left: 20%;
    height: 100vh;
}

#contacto{
    padding-left: 20%;
    height: 50vh;
}

.despedida{
    padding-left: 20%;
    height: 15vh;
}
/****************************/

.perfil-contenedor{
    display: flex;
    flex-direction:column-reverse;
    justify-content:center;
    align-items:center;
    gap:40px;
    height: 100vh;
    padding-bottom: 50px;
    }

.perfil-saludo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content:center;
    align-items: center;
}

.perfil-titulo{
    font-size: 95px;
    text-align:center;
}

.perfil-nombre{
    font-size: 60px;
}

.perfil-puesto{
    font-size: 40px;
}

/***************************************/
.info-contenedor{
    display:flex;
    flex-direction: column;
height: 200vh;
align-items:center;
justify-content:flex-start;

}


.info-basicos{
    width: 90%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    gap:40px;
    justify-content: center;
    align-items: center;
}

.basico-titulo{
    font-size: 90px;
}

.basico-nombre-apellido{
    font-size: 57px;
    width: 100%;
}

.basico-puesto{
    font-size: 50px;
    width: 100%;
}

.basico-edad{
    font-size: 45px;
    width: 100%;
}

.basico-ubicacion{
    font-size: 45px;
    width: 100%;
}

.info-experiencia{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experiencia-titulo{
    font-size: 90px;
    text-align: center;
}

.lista-experiencia{
    font-size: 40px;
}

/************************************/

.herramientas-titulo{
    font-size: 90px;
}

.tecnologias{
    width: 90%;
}

.img-herramientas{
width: 10%;
}

/************************************/

.info-capacidades{
display: flex;
flex-direction: column;
gap:30px;
}

.capacidades-titulo{
    font-size: 90px;

}

.capacidades-lista{
    display: flex;
    flex-direction: column;
    gap:20px;
}

/**************************************/

.educacion-titulo{
    font-size: 90px;
}

.contenedor-educacion{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/**********************************/

.contacto-titulo{
    font-size: 90px;
}

.contacto-redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:0px;
}

.red{
    width: 10%;
}

}


@media (max-width: 576px){



    .navbar-list{ 
        height: 130vh;

    }

   


    /****************************/

#perfil{
    padding-left: 25%;
    width: 100%;
    }

    #herramientas{
        padding-left: 25%;
        height: 100vh;
        width: 100%;
    }
    
    #ensenianza{
        padding-left: 25%;
        height: 100vh;
        width: 100%;
    }
    
    #contacto{
        padding-left: 25%;
        height: 50vh;
        width: 100%;
    }
    
    .despedida{
        padding-left: 25%;
        height: 15vh;
        width: 100%;
    }
    /****************************/





}

