*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.navbar{

    padding: 20px;
}

.navbar-list{
    display: flex;
    flex-direction: row;
    gap:80px;
    font-size: 35px;
    align-items: center;
    justify-content: center;

}

.navbar-item{
    text-decoration: none;
    color:black;
   display: none;
}
  
.navbar-li{
    list-style: none;
}

.navbar-img{
    display: flex;
}

/*********************************************/
/* Estilo inicial de la lista de navegación */
.navbar-item-show {
    display: flex;
  }
  

/*******************************************/

.perfil-contenedor{
    display: flex;
    flex-direction:row;
height: 50vh;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding:20px;
}

.perfil-saludo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:5px;
    justify-content:center;
    align-items: center;
}

.perfil-titulo{
    font-size: 90px;
}

.perfil-nombre{
    font-size: 60px;
}

.perfil-puesto{
    font-size: 40px;
}

.imagen-perfil{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil-boton{
    font-size: 35px;
    margin:15px;
    padding: 10px;
}

/***********************************/

.info-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;
    gap:30px;
    height: 70vh;
    padding-top: 70px;
}


.info-basicos{
    width: 30%;
    height: 40vh;
}

.basico-titulo{
    font-size: 50px;
}

.basico-nombre-apellido{
    font-size: 47px;
}

.basico-puesto{
    font-size: 40px;
}

.basico-edad{
    font-size: 35px;
}

.basico-ubicacion{
    font-size: 35px;
}

.info-experiencia{
    width: 35%;
    height: 40vh;
}

.experiencia-titulo{
    font-size: 50px;
}

.lista-experiencia{
    margin:15px;
    font-size: 35px;
}

/***************************************************/
.info-herramientas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding-top:80px;
}

.herramientas-titulo{
    font-size: 50px;
}

.tecnologias{
    display:flex;
flex-direction: row;
    flex-wrap:wrap;
margin:auto;
    justify-content: space-between;
    width: 50%;
}

.img-herramientas{
width: 10%;
}

.capacidades-titulo{
    font-size: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.capacidades-lista{
    font-size: 35px;
}

/***************************************************/

.educacion-titulo{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;

padding-top:30px;
}

.contenedor-educacion{
    display: flex;
    justify-content: center;
align-items: center;
gap:30px;
padding:20px;
}

.educacion-item{
    width: 30%;
}

.item-titulo{
    font-size: 45px;
}

.item-posicion{
    font-size: 35px;
}

.item-tiempo{
    font-size: 30px;
}

/****************************************/

.contacto-titulo{
    font-size: 50px;
    display: flex;
justify-content: center;
align-items: center;
padding-top: 30px;
}

.contacto-redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding:30px;
}

.red{
    width: 4%;
}

.contacto-lista{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding:20px;
}


/*********************/

footer{
  margin:auto;

    font-size: 35px;
    padding: 20px;
}